name: CI build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        architecture: [x64, arm64]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Build, zip, and lint
        uses: ./.github/actions/build-zip-lint
        with:
          version: "0.${{ github.event.number }}.${{ github.run_number }}"
          architecture: ${{ matrix.architecture }}
