name: Release application

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        architecture: [x64, arm64]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Get the release version
        id: get_version
        uses: dhkatz/get-version-action@v3.0.0

      - name: Build, zip, and lint
        id: build-zip-lint
        uses: ./.github/actions/build-zip-lint
        with:
          version: ${{ steps.get_version.outputs.version-without-v }}
          architecture: ${{ matrix.architecture }}

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ steps.build-zip-lint.outputs.zipFile }}

      - name: Upload checksums
        uses: wangzuo/action-release-checksums@v1
